
body {
  --ck-border-radius: 0;
  --ck-color-focus-border: gold;
  --ck-color-focus-outer-shadow: none;
  --ck-color-focus-inner-shadow: none;
  --ck-color-text: ivory;
  --ck-color-toolbar-background: black;
  --ck-color-toolbar-border: ivory;
  --ck-color-button-default-hover-background: gold;
  --ck-color-button-on-background: dimgray;
  --ck-color-button-on-hover-background: darkgray;
  --ck-color-dropdown-panel-background: black;
  --ck-color-input-background: black;
  --ck-color-list-background: black;
  --ck-color-list-button-hover-background: gold;
  --ck-color-list-button-on-background: dimgray;
  --ck-color-list-button-on-background-focus: gold;
  --ck-color-panel-background: black;
  --ck-color-panel-border: ivory;
  --ck-color-link-default: white;
  --ck-color-link-selected-background: gold;
  --ck-focus-inner-shadow: none;
  --ck-focus-outer-shadow: none;
  --ck-focus-ring: 1px solid ivory;
}

article.ck-content blockquote {
  border-left-color: gold;
  font-style: normal;
}
article.ck-focused {
  background: black;
}

.ck-balloon-panel {
  transform: translate(-1em, 1em);
}
.ck-balloon-panel li:before {
  content: '';
}

.ck.ck-content code, .ck.ck-content pre {
  background: rgba(255, 255, 255, .25);
  color: inherit;
}
.ck.ck-content pre code {
  background: unset;
}
