html {
  font-family: Georgia, serif;
}

h1 {
  font-size: 1.7em;
  font-variant: small-caps;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.1em;
}

h1, h2, h3, h4, blockquote, p {
  margin: .8em 0;
}
h1, h2, h3, h4 {
  margin-bottom: .2em;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0;
}
