html {
  font-size: 11pt;
  line-height: 2;
}
body {
  padding: 2.54cm 1.8cm;
}

main > header, form, .ck-body-wrapper {
  display: none !important;
}

blockquote {
  padding: 0 2.5em;
}
a {
  color: inherit;
  text-decoration: none;
}
